body {
	background-image: url(bg_index.jpeg);
	background-size: cover;
	font-family: 'Poiret One', cursive;
	font-size: 150%;
	font-weight: bold;
}

header {
	text-align: center;
}

h1 {
	color: #C986AF;
	text-align: center;
	border: 2px solid rgba(215, 0, 102, 0.3);
	cursor: pointer;
}

section{
	color: #33006D;
}

section h2 {
	text-align: center;
	color: #FFFAAA;
	border: 2px solid rgba(128, 115, 21, 0.3);
}